extends layout

block content
  h1= title
  p Welcome to #{title}

  form(action='/', method='POST')
      p
        | URL: 
        input(name='url', value='', type='text')
      input(value='Start Crawler', type='submit')
